### DV Project

In [1]:
import pandas as pd
import numpy as np

In [3]:
top_100_marvel = pd.read_excel('./data/top_100_marvel.xlsx')

In [13]:
top_100_marvel.tail()

,page_id,name,urlslug,Intelligence,Stength,Speed,Durability,Energy Projection,Fighting Skills,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
94,2344,Red Skull,Johann_Shmidt_(Earth-616),5,3,3,3,1,6,Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Deceased Characters,376,1941-08-01,1941.0
95,1131,Banshee,Sean_Cassidy_(Earth-616),3,2,4,3,5,4,Secret Identity,Neutral Characters,Green Eyes,Strawberry Blond Hair,Male Characters,NaN,Living Characters,374,1967-01-01,1967.0
96,2487,Toro,Thomas_Raymond_(Earth-616),2,2,3,2,5,4,Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,373,1940-09-01,1940.0
97,1572,The Watcher,Uatu_(Earth-616),7,7,7,7,7,1,Public Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Deceased Characters,373,1963-04-01,1963.0
98,2456,Thanos,Thanos_(Earth-616),6,7,7,6,6,4,No Dual Identity,Bad Characters,Red Eyes,No Hair,Male Characters,NaN,Living Characters,306,1973-02-01,1973.0

In [7]:
'Spider-Man (Peter Parker)'.split('(')

['Spider-Man']

In [19]:
clean_names = []

for hero_name in list(top_100_marvel['name']):
    if hero_name.strip() == 'Human Torch (Android)':
        clean_names.append(hero_name.strip())
        continue
    name_splits = hero_name.strip().split('(')
    
    cleaned_name = name_splits[0].strip()
    if cleaned_name not in clean_names:
        clean_names.append(cleaned_name)
    else:
        print (name_splits)
            
len(clean_names)

99

In [20]:
top_100_marvel['name'] = clean_names

In [21]:
top_100_marvel.head()

,page_id,name,urlslug,Intelligence,Stength,Speed,Durability,Energy Projection,Fighting Skills,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man,Spider-Man_(Peter_Parker),4,4,3,3,1,4,Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043,1962-08-01,1962.0
1,7139,Captain America,Captain_America_(Steven_Rogers),3,3,2,3,1,6,Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360,1941-03-01,1941.0
2,64786,Wolverine,Wolverine_(James_%22Logan%22_Howlett),2,4,2,4,1,7,Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061,1974-10-01,1974.0
3,1868,Iron Man,Iron_Man_(Anthony_%22Tony%22_Stark),6,6,5,6,6,4,Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961,1963-03-01,1963.0
4,2460,Thor,Thor_(Thor_Odinson),2,7,7,6,6,5,No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258,1950-11-01,1950.0

In [24]:
writer = pd.ExcelWriter('./data/top_100_marvel_v2.xlsx')
top_100_marvel.to_excel(writer, 'Sheet1')

writer.save()

In [44]:
top_100_marvel = pd.read_excel('./data/top_100_marvel_v2.xlsx')

top_100_marvel.head()

,page_id,name,urlslug,Intelligence,Stength,Speed,Durability,Energy Projection,Fighting Skills,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man,Spider-Man_(Peter_Parker),4,4,3,3,1,4,Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043,1962-08-01,1962.0
1,7139,Captain America,Captain_America_(Steven_Rogers),3,3,2,3,1,6,Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360,1941-03-01,1941.0
2,64786,Wolverine,Wolverine_(James_%22Logan%22_Howlett),2,4,2,4,1,7,Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061,1974-10-01,1974.0
3,1868,Iron Man,Iron_Man_(Anthony_%22Tony%22_Stark),6,6,5,6,6,4,Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961,1963-03-01,1963.0
4,2460,Thor,Thor_(Thor_Odinson),2,7,7,6,6,5,No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258,1950-11-01,1950.0

In [45]:
top_100_marvel.to_csv('./data/top_100_marvel_v2.csv')

In [31]:
top_100_marvel.iloc[:,[3,4,5,6,7,8,16]]

,Intelligence,Stength,Speed,Durability,Energy Projection,Fighting Skills,APPEARANCES
0,4,4,3,3,1,4,4043
1,3,3,2,3,1,6,3360
2,2,4,2,4,1,7,3061
3,6,6,5,6,6,4,2961
4,2,7,7,6,6,5,2258
5,3,6,2,6,1,5,2255
6,6,2,2,5,1,3,2072
7,6,7,3,7,5,4,2017
8,3,2,2,2,5,4,1955
9,2,2,5,6,5,3,1934
10,5,4,3,4,1,4,1825
11,3,2,3,6,5,3,1713
12,2,6,3,6,2,4,1528
13,2,2,3,2,5,4,1512
14,3,2,2,2,1,6,1394
15,3,3,2,2,4,5,1338
16,4,2,7,2,6,6,1307
17,2,2,2,2,1,2,1304
18,3,2,2,2,1,3,1266
19,2,3,3,4,5,4,1265
20,6,7,3,3,6,3,1237
21,5,2,2,2,5,3,1233
22,3,2,3,2,1,4,1230
23,2,6,2,6,1,4,1162
24,3,2,2,2,6,3,1161
25,3,2,2,2,1,6,1137
26,3,5,3,2,4,4,1120
27,3,2,7,7,7,4,1107
28,3,3,2,3,3,6,1050
29,3,2,7,2,1,3,1047
...,...,...,...,...,...,...,...
70,7,6,7,7,7,4,502
71,2,4,7,4,1,6,500
72,4,2,2,5,4,5,478
73,5,4,3,4,3,2,474
74,4,1,2,3,7,2,473
75,3,5,3,4,5,4,471
76,3,5,3,3,4,4,464
77,2,3,3,3,1,3,448
78,3,7,3,6,1,3,446
79,2,3,5,2,5,3,433
80,2,2,2,2,1,4,429
81,2,4,3,5,4,2,426
82,2,5,7,3,1,5,422
83,3,7,3,6,2,4,415
84,2,4,3,6,5,3,408
85,2,5,2,6,1,4,406
86,2,5,3,3,3,4,403
87,7,7,7,7,7,2,390
88,2,2,2,2,3,4,388
89,2,3,2,3,1,4,387
90,4,2,2,2,1,1,384
91,3,3,2,3,1,4,382
92,2,3,2,4,1,6,382
93,4,2,7,3,6,4,380
94,5,3,3,3,1,6,376
95,3,2,4,3,5,4,374
96,2,2,3,2,5,4,373
97,7,7,7,7,7,1,373
98,6,7,7,6,6,4,306
99,6,7,7,7,6,4,373

In [43]:
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

sns.set(style="white")

corr_data = top_100_marvel.iloc[:,[3,4,5,6,7,8,16]]

corr_data

,Intelligence,Stength,Speed,Durability,Energy Projection,Fighting Skills,APPEARANCES
0,4,4,3,3,1,4,4043
1,3,3,2,3,1,6,3360
2,2,4,2,4,1,7,3061
3,6,6,5,6,6,4,2961
4,2,7,7,6,6,5,2258
5,3,6,2,6,1,5,2255
6,6,2,2,5,1,3,2072
7,6,7,3,7,5,4,2017
8,3,2,2,2,5,4,1955
9,2,2,5,6,5,3,1934
10,5,4,3,4,1,4,1825
11,3,2,3,6,5,3,1713
12,2,6,3,6,2,4,1528
13,2,2,3,2,5,4,1512
14,3,2,2,2,1,6,1394
15,3,3,2,2,4,5,1338
16,4,2,7,2,6,6,1307
17,2,2,2,2,1,2,1304
18,3,2,2,2,1,3,1266
19,2,3,3,4,5,4,1265
20,6,7,3,3,6,3,1237
21,5,2,2,2,5,3,1233
22,3,2,3,2,1,4,1230
23,2,6,2,6,1,4,1162
24,3,2,2,2,6,3,1161
25,3,2,2,2,1,6,1137
26,3,5,3,2,4,4,1120
27,3,2,7,7,7,4,1107
28,3,3,2,3,3,6,1050
29,3,2,7,2,1,3,1047
...,...,...,...,...,...,...,...
70,7,6,7,7,7,4,502
71,2,4,7,4,1,6,500
72,4,2,2,5,4,5,478
73,5,4,3,4,3,2,474
74,4,1,2,3,7,2,473
75,3,5,3,4,5,4,471
76,3,5,3,3,4,4,464
77,2,3,3,3,1,3,448
78,3,7,3,6,1,3,446
79,2,3,5,2,5,3,433
80,2,2,2,2,1,4,429
81,2,4,3,5,4,2,426
82,2,5,7,3,1,5,422
83,3,7,3,6,2,4,415
84,2,4,3,6,5,3,408
85,2,5,2,6,1,4,406
86,2,5,3,3,3,4,403
87,7,7,7,7,7,2,390
88,2,2,2,2,3,4,388
89,2,3,2,3,1,4,387
90,4,2,2,2,1,1,384
91,3,3,2,3,1,4,382
92,2,3,2,4,1,6,382
93,4,2,7,3,6,4,380
94,5,3,3,3,1,6,376
95,3,2,4,3,5,4,374
96,2,2,3,2,5,4,373
97,7,7,7,7,7,1,373
98,6,7,7,6,6,4,306
99,6,7,7,7,6,4,373